<%- include('../partials/header')%>

<a href="/skills">Back</a>
<h3>New Skill</h3>
<form action="/skills" method="post">
    <input type="text" placeholder="add skill" name="skill">
    <button type="submit" >Add Skill</button>
</form>

<%- include('../partials/footer')%>